/* Default body font */
body {
  font-family: "Muli", Arial, sans-serif;
  font-weight: 400;
  color: #222;
}

/* Quattrocento Sans – headings */
@font-face {
  font-family: "Quattrocento Sans";
  src: url("./fonts/QuattrocentoSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url("./fonts/QuattrocentoSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* Muli – body text */
@font-face {
  font-family: "Muli";
  src: url("./fonts/Muli.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("./fonts/Muli-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-logo {
  font-family: "Quattrocento Sans", Georgia, serif;
  font-weight: 700;
}
